body{
    background-color: #282b30;
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}


.parent {
display: grid;
grid-template-columns:250px 1fr;
grid-template-rows: 1fr;
grid-column-gap: 10px;
}

.div1 { grid-area: 1 / 1 / 6 / 2; }
.div2 { grid-area: 1 / 2 / 6 / 6; }

.div1{
    background-color:#1e2124;
    border-radius: 10px;
    text-align: center;
}

.div1a{
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}

a{
    text-decoration: unset;
    color: white;
}
a:hover{
    color: rgb(121, 172, 218);
}

h1{
    color: #7289da;
    text-align: center;
}

p{
    margin-left: 10%;
}

button.start{
    background-color: #7289da;
    border: none;
}