<!doctype html>
<html>

<head>
  <title>Sing On Light - Jouer</title>
  <link rel="icon" href="static/images/favicon.ico">
</head>

<body>
  <div class="parent">
    <div class="div1">
      <div class="div1a">
        <a class="indexBTN" href="/">Menu Principal</a><br>
        <a class="playBTN" id="currentBTN" href="/Mode.html">Jouer</a><br>
        <a class="calibrationBTN" href="/calibration.html">Calibration</a><br>
        <a class="dataBTN" href="/data.html">Données</a><br>
        <a class="creationBTN" href="/creation_rythme.html">Créer son propre rythme!</a><br>
        <a href="https://github.com/Bigouz/Projet-L1-Informatique-1er-semestre" target="_blank"
          class="github">GitHub</a>

      </div>
    </div>
    <div class="div2">
      <h1>Sing On Light - Histoire</h1>
      <div class="text">
        <h2>Le Dragon Ronchon</h2>
        <div class="container">
          <p class="text">Dans un royaume <strong>paisible</strong> mais aux murs fragiles vit un
            <strong>dragon</strong>
            dont le <strong>ronflement</strong> est si <strong>puissant</strong> qu’il provoque des
            <strong>tremblements</strong>
          </p>

          <p class="text">de terre et fait <strong>tomber</strong> les tableaux.
            Pour éviter la <strong>catastrophe</strong>, les habitants ont inventé un <strong>rituel ancestral</strong>
            (et un peu bricolé) : lorsqu’une <strong>LED sacrée</strong> </p>

          <p class="text">s’allume, quelqu’un doit faire du
            <strong>bruit très rapidement</strong> dans un micro afin de <strong>réveiller</strong> le dragon avant
            qu’il
            ne s’endorme trop <strong>profondément</strong>.
          </p>

          <p class="text">
            <strong>Trop lent</strong>, le dragon <strong>ronfle</strong> et le <strong>chaos</strong> s’installe ;
            <strong>Trop rapide</strong>, il râle parce qu’on l’a <strong>dérangé pour rien</strong>.
          </p>

          <p class="text">Seule une <strong>réaction parfaitement</strong> synchronisée maintient la
            <strong>paix</strong>… et le
            <strong>silence relatif</strong> du royaume.
          </p>
          </script>
        </div>

        <div class="container" style="min-width: 640px;">
          <a class="joueur" href="/play_histoire.html">En Route !!!</a>
        </div>
      </div>
    </div>
    <link rel="stylesheet" href="static/css/style.css">
    <script src="static/js/highcharts.js"></script>
</body>

</html>
