<!doctype html>
<html>
<head>
<title>Sing On Light - Jouer</title>
</head>
<body>
<div class = "parent">
    <div class="div1">
        <div class = "div1a">
            <a class="indexBTN" href="/">Menu Principal</a><br>
            <a class="playBTN" id="currentBTN" href="/Mode.html">Jouer</a><br>
            <a class="calibrationBTN" href="/calibration.html">Calibration</a><br>
            <a class="dataBTN" href="/data.html">Données</a><br>
            <a class="creationBTN" href="/creation_rythme.html">Créer son propre rythme!</a><br>
            <a href="https://github.com/Bigouz/Projet-L1-Informatique-1er-semestre" target="_blank" class="github">GitHub</a>

        </div>    
    </div>
    <div class="div2">
        <h1>Sing On Light - Histoire</h1>
        <div class="text">
          <h2>Le dragon ronchon</h2>
            <div class="container">
            <p class = "text">Dans un royaume paisible mais aux murs fragiles vit un dragon 
              dont le ronflement est si puissant qu’il provoque des tremblements </p> de terre et fait tomber les tableaux.
              Pour éviter la catastrophe, les habitants ont inventé un rituel ancestral (et un peu bricolé) : lorsqu’une LED sacrée </p> s’allume, quelqu’un  doit faire du bruit très rapidement dans un micro afin de réveiller le dragon avant qu’il ne s’endorme trop profondément.
              <p>
              Trop lent, le dragon ronfle et le chaos s’installe ; trop rapide, il râle parce qu’on l’a dérangé pour rien. </p>
          <p>Seule une réaction parfaitement synchronisée maintient la paix… et le silence relatif du royaume.
          </p>
        </script>
        </div>
         <p class="highcharts-description">
              <button class="start" onclick="this.disabled = true;save_param()">Jouer </button>
         </p>
    </div>
</div>
<link rel="stylesheet" href="static/css/style.css">
</body>
</html>
