<!doctype html>
<html>
<head>
<title>Sing On Light - Acceuil</title>
</head>
<body>
<div class = "parent">
    <div class="div1">
        <div class = "div1a">
            <a class="indexBTN" id="currentBTN" href="/">Menu Principal</a><br>
            <a class="playBTN" href="/Mode.html">Jouer</a><br>
            <a class="calibrationBTN" href="/calibration.html">Calibration</a><br>
            <a class="dataBTN" href="/data.html">Données</a><br>
            <a class="creationBTN" href="/creation_rythme.html">Créer son propre rythme!</a><br>
            <a href="https://github.com/Bigouz/Projet-L1-Informatique-1er-semestre" target="_blank" class="github">GitHub</a>

        </div>    
    </div>
    <div class="div2">
        <h1>Sing On Light</h1>
        <div class="text">

            <div class="container" style="position: relative;left: 50%;transform: translate(-50%, 0%);">
                <span style="display:inline-block;vertical-align: top;">
                    <h2>Qu'est-ce ?</h2>
                    <p style="min-width: 320px; max-width: 320px;">Sing on Light est un jeu de réflexe<br>utilisant un Raspberry PI, un capteur sonore<br>et une LED.</p>
                </span>
                <img src="static/images/logo.png" style="width:320px;display:inline-block;">
            </div>
            <div class="container" style="position: relative;left: 50%;transform: translate(-50%, 0%);">
                <span style="display:inline-block;vertical-align: top;">
                    <h2>Règles</h2>
                    <p style="min-width: 320px; max-width: 320px;">LED allumée: Faire un bruit continu<br>
                       LED éteinte: Ne pas faire de bruit<br><br>
                       Plus vous êtes précis, plus vous marquez de points !
                    </p>
                </span>
                <img src="static/images/regles.png" style="width:320px;display:inline-block;">
            </div>
            <br>
        </div>
    </div>
</div>

</body>

<link rel="stylesheet" href="static/css/style.css">
</html>
