<!doctype html>
<html>
<head>
<title>Sing On Light - Acceuil</title>
</head>
<body>
<div class = "parent">
    <div class="div1">
        <div class = "div1a">
            <a class="indexBTN" style="color: #7289da;" href="/">Menu Principal</a><br>
            <a class="playBTN" href="/play.html">Jouer</a><br>
            <a class="calibrationBTN" href="/calibration.html">Calibration</a><br>
            <a class="dataBTN" href="/data.html">Données</a><br>
            <a href="https://github.com/Bigouz/Projet-L1-Informatique-1er-semestre" class="github">GitHub</a>

        </div>    
    </div>
    <div class="div2">
        <h1>Sing On Light</h1>
        <div class="text">
            <p>Sing on Light est un mini-jeu de rythme utilisant un Raspberry PI, 2 capteurs sonnores, un écran LCD et une LED.
            </br>Le but est simple : Quand la LED s'allume, il faut faire un bruit.
            </p>
        </div>
    </div>
</div>

</body>

<link rel="stylesheet" href="static/css/style.css">
</html>
