<!doctype html>
<html>
<head>
<title>Sing On Light - Jouer</title>
</head>
<body>
<div class = "parent">
    <div class="div1">
        <div class = "div1a">
            <a class="indexBTN" href="/">Menu Principal</a><br>
            <a class="playBTN" id="currentBTN" href="/play.html">Jouer</a><br>
            <a class="calibrationBTN" href="/calibration.html">Calibration</a><br>
            <a class="dataBTN" href="/data.html">Données</a><br>
            <a href="https://github.com/Bigouz/Projet-L1-Informatique-1er-semestre" target="_blank" class="github">GitHub</a>

        </div>    
    </div>
    <div class="div2">
        <h1>Sing On Light - Jouer</h1>
        <div class="text">
            <p>Lorsque vous appuyez sur "Jouer", la partie commencera immédiatement. 
            <br>Quand la LED s'allume, faites un bruit continu (chanter, siffler, etc.).
            <br>
            <div class="container" style="min-width: 640px;">
                <h2>Paramètres de la partie</h2>
                </br>Choisissez vos paramètres de jeu ci-dessous :
                <br><br>

                <label for="dureeIntervalle">Durée d'intervalles (en secondes) : </label>
                <input type="number" name="dureeIntervalle" id="dureeIntervalle" value="{{dureeIntervalle}}" max="2" min="0.1" step="0.1" onchange="change_value(this);temps_total()"><br>

                <label for="dureePartie">Durée de la partie (en intervalles) : </label>
                <input type="number" name="dureePartie" id="dureePartie" value="{{dureePartie}}" max="120" min="5" onchange="this.value=this.value.replace(/[^0-9]/g,''); if(this.value<5)this.value=5; if(this.value>120)this.value=120;temps_total()" ><br><br>
            
                <br><br>
                <span id="temps_total"> </span><br>
                <button id="start" class="start" onclick="this.disabled = true;save_param()">Jouer</button>
                <p id = "winstreak">🔥🔥🔥 Winstreak: {{winstreak}} 🔥🔥🔥 </p>
            </div>
            
            
            <br><br>
            <p style="color: lime;" id="result">{{message}}</p>
            </p>
            
            <script>
                function change_value(t){
                    t.value = t.value.replace(/,/g, '.').replace(/[^0-9.]/g, '');
                    let v = parseFloat(t.value);
                    if (isNaN(v)) v = 0.1;
                    if (v < 0.1) v = 0.1;
                    if (v > 2.0) v = 2.0;
                    // arrondi au pas de 0.1
                    v = Math.round(v * 10) / 10;
                    t.value = v.toFixed(1);
                }
            
            
                function temps_total(){
                    let temps = Math.round(document.getElementById("dureePartie").value * document.getElementById("dureeIntervalle").value);
                    document.getElementById("temps_total").innerHTML = "Temps total de la partie : " + temps + " secondes";
                    return temps;
                }
                temps_total()


            async function save_param() {
                const dureeIntervalle = parseFloat(document.getElementById('dureeIntervalle').value);
                const dureePartie = parseInt(document.getElementById('dureePartie').value);

                
                const response = await fetch('/run_play', {
                    method: 'POST',
                    headers: {'Content-Type': 'application/json'},
                    body: JSON.stringify({"dureeIntervalle":dureeIntervalle, "dureePartie":dureePartie})
                });
                const data = await response.json();
                document.getElementById('result').innerText = data["message"];
                document.getElementById('result').style.color = data["message"].includes("gagné") ? "lime" : "red";
                document.getElementById('winstreak').innerText = "🔥🔥🔥 Winstreak: " + data["winstreak"] + " 🔥🔥🔥";


                document.getElementById('start').disabled = false;
            }
        </script>
        </div>
    </div>
</div>
<link rel="stylesheet" href="static/css/style.css">
</body>
</html>





